body {
    background-color: rgb(155, 174, 149);
}

h1 {
    font-size: 50px;
    color: #44191F;
}

p {
    font-size: 20px;
    color: #202020;
}

h2 {
    font-size: 30px;
    color: #684D51;

}

ul {
    border-left-style: solid ;
    border-color: #684D51;
    border-width: 5px;
    background-color: #997277;
    font-size: 17px;
    padding: 25px;
}

ol {
    border-left-style: solid ;
    border-color: #684D51;
    border-width: 5px;
    background-color: #997277;
    font-size: 17px;
    padding: 25px;
}

a {
    color: #1F3C16;
}

.content {
    display :flex; 
    margin: 20px;    
}

.content-left {
    background-color: #B49A9D;
    margin: 20px; 
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.content-right {
    background-color: #B49A9D;
    margin: 20px; 
    padding: 20px;
    border-radius: 30px;
    align-items: center;
    display: flex;
     width: 50%;
}

img {
    width: 500px;
}
/* Работа 3 */
.header {
    text-align: right;
}

.container {
background-color: #666666;
}

.block {
background-color:rgb(255, 183, 116);
height: 200px;
width: 200px;
margin: auto;
}

.imgРабота3 {
    width: 200px;
    display:block;
    margin: auto;
}

.container-2 {
    background-color: #666666;
    /* height: 400px; */
    display: flex;
    align-items: center;
}

.block-2 {
    background-color: #00A685;
    width: 200px;
    height: 200px;
    margin: auto;
}

.container-3 {
    background-color: #666666;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.block-3 {
    background-color: #28A600;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.container-4 {
    background-color: #ffffff;
    border: 5px solid #000000;
}

.block-4 {
    border: 5px solid #ff0000;
    width: 200px;
    height: 200px;
    position: relative;
    top: 100px;
    left: 100px;
}

.block-5 {
    border: 5px solid #003cff;
    width: 200px;
    height: 200px;
    position: relative;
    top: 20px;
    left: 220px;
}

.block-6 {
    border: 5px solid #0b8600;
    width: 200px;
    height: 200px;
    position: relative;
    top: -70px;
    left: 330px;
}


.imgcat {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
}


