.header {
    text-align: right;
}

table, th, td {
border: 1px solid black;
border-collapse: collapse;
}

table {
     margin-bottom: 20px;
}

td, th {
    padding: 5px;
}

th {
    text-align: left;
    background-color: #04376C;
    color: aliceblue;
}

tr:nth-child(even) {
    background-color: #689CD2;
}

tr:nth-child(odd) {
    background-color: #9CEF6C;
}

tr:hover {
    background-color: aliceblue;
}

caption {
    padding: 15px;
}

fieldset {
    margin-bottom: 20px;
    border-radius: 20px;
}

.button {
    margin-top: 20px;
}
